
/*Tablet*/
@media all and (max-width: 1000px){

  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }

    .judul h2 {
    font-size: 26px;
  }

  .pengunjung {
    width: 50%;
    margin-bottom: 50px;
  }

  .call_to_action{
  width: 100%;
  height: 460px;
  background-color: #f7f7f7;
  overflow: hidden;
  
}

.call_to_action img{
  width: 522px;
  margin-top: 90px;
  margin-left: -99px;
  float: left;
}
.call_to_action .cta_desc{
  width: 350px;
  float: left;
  margin-top: 60px;
}
.call_to_action h2{
  font-size: 26px;
}

.call_to_action h3{
  font-family: 'LatoBold', arial;
  font-weight: bold;
  color: #646363;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

.call_to_action ul{
  font-family:Poppins;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.call_to_action p{
  font-family: 'LatoRegular', arial;
  color: #7e7e7e;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 25px;
  margin-bottom: 25px;
}

.call_to_action a.cta_btn{
  padding: 15px 20px;
  display: inline-block;
  color: #fff;
  font-family: "LatoBold", arial;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

}

  .form h2 {
    font-size: 26px;
  }
  .form .form-wrapper {
    width: 100%;
    padding: 0px;
  }
  .form .map-wrapper {
    margin: 15px 0;
    width: 100%;
    height: 300px;
  }
  .form .btn {
    margin: 0;
  }

  footer input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/send.jpg');
  background-position: 290px 6px; 
  background-size:30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border:none;
  float:center;
}}


@media all and (max-width: 812px){

  .call_to_action{
  width: 100%;
  height: 460px;
  background-color: #f7f7f7;
  overflow: hidden;
  
}

.call_to_action img{
  width: 400px;
  margin-top: 90px;
  margin-left: -99px;
  float: left;
}
.call_to_action .cta_desc{
  width: 350px;
  float: right;
  margin-top: 60px;
}

.call_to_action h3{
  font-family: 'LatoBold', arial;
  font-weight: bold;
  color: #646363;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

.call_to_action p{
  font-family: 'LatoRegular', arial;
  color: #7e7e7e;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 25px;
  margin-bottom: 25px;
}

.call_to_action a.cta_btn{
  padding: 15px 20px;
  display: inline-block;
  color: #fff;
  font-family: "LatoBold", arial;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

}}


/*Smartphone*/

@media all and (max-width: 670px) {  
  .menu-icon {
    display: block;
    color: inherit;
    float: right;
    font-size: 29px;
    padding: 18px;
  }

  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .header-right{
    display:none;
  }
  
  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  
   .judul {
    width: 100%;
  }
  .judul h2 {
    font-size: 20px;
  }


  .pengunjung {
    width: 100%;
  }


  .call_to_action img{
  width: 60%;
  float: left;
  margin-top: 180px;
  margin-left: -99px;
  float: left;
}
.call_to_action .cta_desc{
  width: 250px;
  float: left;
}
.call_to_action h2{
  font-size: 20px;
}
.call_to_action h3{
  font-family: 'LatoBold', arial;
  font-weight: bold;
  color: #646363;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

.call_to_action ul{
  font-family:Poppins;
  font-size: 12px;
  letter-spacing: .5px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: left;
}

.call_to_action p{
  font-family: 'LatoRegular', arial;
  color: #7e7e7e;
  font-size: 13px;
  letter-spacing: .5px;
  line-height: 25px;
  margin-bottom: 25px;
}

.call_to_action a.cta_btn{
  padding: 15px 20px;
  display: inline-block;
  color: #fff;
  font-family: "LatoBold", arial;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

}

  .form h2 {
    font-size: 20px;
  }
  .form .name, .form .email {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .form .btn {
    margin: 0 auto;
    width: 100%;
  }

    footer input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/send.jpg');
  background-position: 290px 6px; 
  background-size:30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border:none;
  float:center;
}

footer .list-footer{
  float: center;
  margin-top: 40px;
}
footer .list-footer a{
  margin: 5px;
  color: white;
  opacity: 0.6;
}
footer .list-footer a:hover{
  color: white;
  opacity: 1;
}

footer .list-footer:hover{
  float: center;
  margin-top: 40px;
  animation: text 3s 1;
}
}

@media all and (max-width: 377px) {

    .call_to_action img{
  width: 80%;
  float: left;
  margin-top: 180px;
  margin-left: -99px;
  float: left;
}
.call_to_action .cta_desc{
  width: 170px;
  float: right;
  margin-top: 20px;
}

.call_to_action h3{
  font-family: 'LatoBold', arial;
  font-weight: bold;
  color: #646363;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

.call_to_action p{
  font-family: 'LatoRegular', arial;
  color: #7e7e7e;
  font-size: 10px;
  letter-spacing: .1px;
  line-height: 10px;
  margin-bottom: 25px;
}

.call_to_action a.cta_btn{
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  font-family: "LatoBold", arial;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin-right: 50px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

}}

@media all and (max-width: 350px) {

  .call_to_action{
  width: 100%;
  height: 660px;
  background-color: #f7f7f7;
  overflow: hidden;
  
}


    .call_to_action img{
  width: 80%;
  float: left;
  margin-top: 180px;
  margin-left: -99px;
  float: left;
}
.call_to_action .cta_desc{
  width: 120px;
  float: left;
  margin-top: 20px;
}

.call_to_action h3{
  font-family: 'LatoBold', arial;
  font-weight: bold;
  color: #646363;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

.call_to_action p{
  font-family: 'LatoRegular', arial;
  color: #7e7e7e;
  font-size: 13px;
  letter-spacing: .4px;
  line-height: 25px;
  margin-bottom: 25px;
}

.call_to_action a.cta_btn{
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  font-family: "LatoBold", arial;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin-right: 50px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

}}






