* {
  box-sizing: border-box;
  font-family: "Arial";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  text-transform: uppercase;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  opacity: 1;
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  fill: white;
  position :fixed;
  top: 0;
  z-index: 10;
  transition: all 0.8s ease-in-out ;
}

header:hover {
  background-color: white;
  color: black;
  fill:#3829C4;
}

.logo {
  width: auto;
  height: 100px;
  margin-top: -17px;
  fill: inherit;
}

.header-left {
  float: left;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: -25px;
}

nav a {
    line-height: 65px;
    padding: 0 25px;
    color: inherit;
    display: block;
    float: left;
    font-size: 18px;
    font-weight:bold;
    transition: background-color 0.4s ease-in-out;
}

nav a:hover {
    background-color: #B66DFF;
    color: black;
}

nav a.active {
    background-color: #3829C4;
    opacity: 0.8;
    color: white;
}

nav .icon {
    display: none;
}

.menu-icon {
  display: none;
}

.top-wrapper {
  padding: 180px 0 190px 0;
  background-image: url("../img/banner.png");
  background-color:rgba(255,255,255,0.8);
  background-size: cover;
  color: white;
  text-align: left;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  animation: text 3s 1;  
  text-align: left;
}

.top-wrapper p {
  opacity:0.9;
  font-size: 20px;
  font-family: Poppins;
  margin-bottom: 3px;
  color:white;
  animation: text 3s 1;
  text-align: left;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-primary {background-color: #4CAF50;}
.btn-warning {background-color: #008CBA;}
.btn-danger {background-color: #ff0000;}

@keyframes text{

  0%{
  opacity: 0.7;
  color:black;
  }
  30%{
  letter-spacing: 5px;
  }
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.users {
  padding-top: 10px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.contents {
  flex-wrap: nowrap;
  overflow-x: auto;
  display: flex;
}

.pengunjung{
  display: block;
  margin: 10px;
  flex: 0 0 auto;
  width: 33%;
  color:black;
  
}

.message-pengunjung {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  font-size: 17px;
  color: #b3aeb5;
}

.pengunjung img {
  width: 70%;
  transition: all 0.5s ease-in-out;
}
.pengunjung img:hover {
  width: 90%;
}

.pengunjung p {
   font-family:Poppins;
   font-size:10px;
}

.judul-icon {
  position: relative;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.judul-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.judul h2 {
  margin: 20px 0 10px;
  font-weight: bold;
  font-size:30px;
  color: #3829C4;
}

.line {
  height: 5px;
  width: 150px;
  border: none;
  border-radius: 3px;
  background-color: #777;
  margin: 0 auto 30px;
}
.contents h1 {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
  color:black;
}

.contents h1 span {
  color: #3829C4;
  font-size: 16px;
}

.contents p {
	color:black;
}

.wrapper h1 {
  opacity: 0.9;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  animation: text 3s 1;  
  text-align: right;
}

.call_to_action{
  width: 100%;
  height: 460px;
  background-color: #f7f7f7;
  overflow: hidden;
  
}

.call_to_action img{
  width: 478px;
  margin-top: 73px;
  margin-left: -99px;
  float: left;
}

.call_to_action .cta_desc{
  width: 480px;
  float: center;
  margin-top: 50px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.call_to_action h2{
  font-family: arial;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

.bg-white {
  background-color: white;
}

.call_to_action ul{
  font-family:Poppins;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: left;
}

.call_to_action a.cta_btn{
  padding: 15px 40px;
  display: inline-block;
  color: #fff;
  font-family: "LatoBold", arial;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  background-color: rgba(56, 41, 196, 0.8);

  box-shadow: 0 3px 0 rgba(43, 30, 167, 0.8);
}

.call_to_action a.cta_btn:hover{
  background: rgba(56, 41, 196, 1);
  box-shadow: 0 3px 0 rgba(43, 30, 167, 1);

}

.form {
  width: 100%;
  background-color: #f1f2f6;
  font-family: inherit;
}
.form .container {
  padding: 35px 10px;
  margin: 0 auto;
  width: 90%;
  text-transform: none;
}
.form-top {
  display: flex;
  flex-wrap: wrap;
}
.form .form-wrapper {
  width: 67%;
  padding-right: 20px;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
}
.form h2 {
  display: inline-block;
  font-size: 30px;
  color: #3829C4;
  margin: 0;
  width: 100%;
}
.form .name, .form .email {
  width: 50%;
  flex: auto;
}
.form .name {
  padding-right: 10px;
}
.form .email {
  padding-left: 10px;
}
.form .message {
  flex: auto;
  width: 100%;
}
.form p {
  font-size: 14px;
  color: black;
} 
.form span {
  color: red;
}
.form .form-wrapper input, .form textarea {
  width: 100%;
  background-color: white;
  font-size: 14px;
  font-family: sans-serif;
  padding: 15px;
  border: 2px solid #F3F3F3;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 7px #F3F3F3;
  margin-bottom: 14px;
  opacity: 1;
  z-index: -1;
}
.form textarea {
  margin-bottom: 0;
}
.form .map-wrapper {
  width: 33%;
  flex: auto;
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form .btn {
  display: block;
  margin-top: 15px;
  color: white;
  background-color: #3829C4;
  padding: 15px 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.form .btn:hover {
opacity: 0.9;
}
.form .btn:active {
  opacity: 1;
}

footer{
  margin-top:0px;
  padding: 30px;
  width: 100%;
  text-align: center;
  background-color: #2f3542;
  color: #fff;

}

footer input[type=text] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/send.jpg');
  background-position: 340px 6px; 
  background-size:30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border:none;
  float:center;
}

footer .list-footer{
  float: center;
  margin-top: 40px;
}
footer .list-footer a{
  margin: 10px;
  color: white;
  opacity: 0.6;
}
footer .list-footer a:hover{
  color: white;
  opacity: 1;
}

footer .list-footer:hover{
  float: center;
  margin-top: 40px;
  animation: text 3s 1;
}


.Warna-warni-header {
    background: linear-gradient(45deg, #004D40, #3E2723 , #636e72, #16a085, #e67e22, #3E2723, #004D40);
    background-size: 500% 500%;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
}
@-webkit-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}.quotes {
    background: linear-gradient(45deg, #b2bec3, #f89406, #26a65b, #5868ec, #f54e80, #f7ca18, #b2bec3);
    background-size: 500% 500%;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
}
@-webkit-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.footer {
    background: linear-gradient(45deg, #f22613, #f89406, #26a65b, #5868ec, #f54e80, #f7ca18, #d2527f);
    background-size: 500% 500%;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
}
@-webkit-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

main{
    position: relative;
    margin:0 auto 0 auto;
    height: 770px;
}

#content {
    float:left;
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 0 15px;
    overflow: auto;
    display : flex;
}

aside {
    float:right;
    background-color: #3829C4;
    width: 30%;
    height: 100%;
    padding: 10px 15px;
    margin-left:  70%;
    text-align: center;
}

article {
    background-color: #6c5cff;
    margin: 10px 0px 12px 0px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    text-align: justify;
    box-shadow: 
       inset 0 -3em 3em rgba(220,249,249), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.artikel-title{
    font-weight: bold;
    font-size: 18px;
}

.img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

footer{
    position: relative;
    margin:0 auto 0 auto;
    width: 100%;
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #3d3d3d;
    font-family: Quicksand,sans-serif!important;
}

.profile{
    padding : 10px;
    margin : 5px;
    text-align: left;
    font-size: 13px;
    display : flex;
}

marquee{
    font-size: 11px;
    display: block;
}

.imgkelas{
    width: 35%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {

    marquee{
        display: none;
    }
    .bar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    nav a{
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
    }
    
    nav.responsive {position: relative;}
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    #content {
        position: relative;
        width: 93%;
        padding: 25px;
        padding-top:40px;
        bottom: 55px;
    }
    aside {
        width: 100%;
        padding: 10px;
        margin-left:  0;
        height: auto;
        padding-bottom: 55px;
    }
    .logo{
        height: 35px;
    }
    
    .heading1{
        padding-left: 15px;
        font-weight: bold;
        font-size: 17px;
    }
    .heading2{
        padding-left: 15px;
        font-size: 14px;
    }
    
    article {
        margin: 0px 0px 10px 0px;
        padding: 5px 10px 5px 10px;
        font-size: 11px;
    }
}

.starx{
    -webkit-text-stroke: 0.5px black;
    font-family: sans; color: yellow;
}
.stary{
    -webkit-text-stroke: 0.5px black;
    font-family: sans; color: white;
}

